/** @format */

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
  background-color: #fff;
}

.clients {
  padding: 50px 0;
}

.container {
  width: 411px;
  padding: 0 42px;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1130px;
    padding: 0 10px;
  }
}

.clients-title {
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1400px) {
  .clients-title {
    margin-bottom: 10px;
    font-size: 32px;
  }
}

.clients-text {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1400px) {
  .clients-text {
    width: 537px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .clients-list {
    display: flex;
    gap: 64px;
  }
}

.clients-item {
  padding: 28px 26px 24px 26px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

@media screen and (min-width: 411px) and (max-width: 1399px) {
  .clients-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.clients-item-text {
  margin-bottom: 8px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #32454f;
}
.clients-inner {
  display: flex;
  align-items: center;
}

.clients-inner img {
  width: 50px;
  height: 50px;
}

.clients-body {
  margin-left: 14px;
}
.clients-item-title {
  font-weight: 600;

  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.clients-item-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
